React Native
    npx create-expo-app@latest

Django
    1. Create a virtual environment using the following:
        python -m venv venv

    2. Install Django:
        pip install Django (On macOS/ Linux, you may need to use use pip3 or python3 -m pip install Django)

Python
1.     
